---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import ListaCursos from '../sections/ListaCursos.astro';
---

<Layout title="Shopping Cart | Project">
	<Header></Header>
	<main class="flex flex-col gap-5">
		<Hero></Hero>
		<ListaCursos></ListaCursos>
	</main>
</Layout>