---
import ShoppingCard from '../icons/Shopping-cart.astro'
---
<header class="w-full py-2 sticky top-0 ">
    <div class="w-[90%] max-w-[1000px] mx-auto flex justify-between items-center">
        <figure class="flex items-center gap-2">
            <img src="./public/favicon.svg" alt="Logo de la pagina web" class="w-[35px]">
            <a href="/" class="font-playfair text-xl font-bold text-secondary">Universidad</a>
        </figure>
        <div class="ca">
            <ul class="s">
                <li class="s">
                    <ShoppingCard class="w-[35px] fill-secondary transition-colors duration-200 ease-linear hover:fill-primary hover:cursor-pointer"></ShoppingCard>
                </li>
            </ul>
        </div>
    </div>
</header>